
body {
    height: 100vh;
    margin: 0;
    background-color: #f6911b ;
    display: flex;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
    justify-content: space-between;
    
    
}

.header {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    padding: 0 12px;
}

.content {
    background-color: #fffafa;
    padding: 12px;
    display: flex;
    text-align: start;
}

a {
    text-decoration: none;
    margin: 0 4px;
    color: black;
}

.examples {
    display: flex;
    justify-content: space-around;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta{
    background-color: #df851e;
}

