/*Frame work start*/

body {
    height: 100vh;
    margin: 0;
    background-color: #f6911b ;
    overflow-x: hidden;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    padding: 4px 12px;
    max-height: 40px;
}

.content {
    padding: 12px;
    display: flex;
    text-align: start;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 48px;
}

.examples {
    background-color: #fffafa;
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 32px;
    padding: 10px;
    margin: 0;
    padding-right: 30px;
}

.quote{
    display: flex;
    flex-direction: column;
    background-color: black;
    text-align: start;
    justify-content: center;
    align-items: center;
    padding: 100px 24px;
}

.cta{
    flex: 1;
    display: flex;
    background-color: #b14e9d;
    justify-content: center;
    align-items: end;
    gap: 64px;
    border-radius: 16px;
    margin: 16px 32px;
    padding: 50px;
    text-align: start;

    font-size: 20px;
    
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

/*Frame Work end*/


/*Media and text*/
a {
    text-decoration: none;
    margin: 0 4px;
    color: black;
}

.logo {
    max-height: 40px;
}

button {
    background-color: #b14e9d;
    border: none;
    border-radius: 8px;
    border: solid;
    border-color: #f6911b;
    font-size: 16px;
    font-weight: lighter;
    padding: 8px 16px;
}

.video{
    max-width: 25%;
}

.video img{
    width: 100%;
    height: auto;
    border: 6px solid;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 3px;

}

.content img{
    display: flex;
    width: 20%; 
    height: auto;
    flex-shrink: 0;
    min-width: 200px;
}

.video div{
    background-color: #eee;
    padding: 8px;
    border-radius: 16px;
    margin-top: 8px;
}

.e-title {
    font-weight: 700;
    font-size: 24px;
    background-color: #fffafa;
    padding: 4px;
}

.quote-text{
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    color: #dad9d9;
    max-width: 80%;
    position: relative;
    right: 5%;
}

.quote-by{
    font-weight: 900;
    position: relative;
    left: 30%;
    font-size: 32px;
    color: darkgrey;
}

.content-text {
    max-width: 50%;
}

.main-text{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 24px;
}

.sub-button{
    margin-top: 24px;
}

.sub-button:hover{
    background-color: aquamarine;
    border-color: #b14e9d;
    transition: 0.2s;
}

.sub-button:active{
    background-color: black;
    color: #eee;
}

.video:hover{
    max-width: 50%;
    width: 150%;
    transition: 1s;
}

.links a:hover{
    background-color: #f6911b;
    padding: 8px;
    border: solid #b14e9d;
    border-radius: 8px;
}