
body {
    height: 100vh;
    margin: 0;
    background-color: #f6911b ;
    display: flex;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
    justify-content: space-between;
    
    
}

.header {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    padding: 4px 12px;
    max-height: 40px;
}

.content {
    background-color: #fffafa;
    padding: 12px;
    display: flex;
    text-align: start;
    flex: 1;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    margin: 0 4px;
    color: black;
}

.logo {
    max-height: 40px;
}

.examples {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
    padding: 10px;
    margin: 0;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta{
    background-color: #df851e;
    
}

button {
    border: none;
    border-radius: 8px;
    background: #eee;
    padding: 8px 16px;
}


.video img{
    width: 100%;
    height: auto;
    max-width: 200px;
}

.content img{
    display: flex;
    width: 20%;
    height: auto;
    flex-shrink: 0;
    min-width: 200px;
}